/* h1 and p styles */
h1
{
	text-align: center;
	padding-top: 200px;
	color: #fff;
	font-size: min(8vw, 50px);
}
p
{
	padding: 10px 2% 0;
	text-align: center;
	color: #fff;
}

/* Fun little effect I found */
.typewriter h1 {
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media (max-width: 300px) {
  h1 {
    font-size: 11vw;
    padding-top: 240px;
  }
}
